apiVersion: batch/v1
kind: Job
metadata:
  labels:
    app: target-job
spec:
  completions: 1
  parallelism: 1
  backoffLimit: 0
  ttlSecondsAfterFinished: 10
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: example
          image: busybox
          command: ["sh", "-c", "echo Hello && sleep 30 && exit 0"]