{{- if .Values.localstack.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: localstack
spec:
  type: ClusterIP
  selector:
    app: localstack
  ports:
    - port: 4566
      targetPort: 4566
{{- end }}
